<h2>Carrito de compra</h2>
<div *ngIf="carrito.length > 0">
    <ul>
        <li *ngFor="let producto of carrito; let i = index">
            {{ producto.nombre }} - ${{ producto.precio }}
            <button type="button" (click)="eliminarProducto(i)">Eliminar</button>
        </li>
    </ul>
    <h3>Subtotal: ${{ subtotal }}</h3>
    <!-- Agregar botones de pago (PayPal o Stripe) -->
            <button type="button" (click)="checkPaypal()">Pagar y generar XML</button>
</div>

<p *ngIf="carrito.length === 0">Tu carrito está vacío.</p>

<div>
    <button (click)="irAlCatalogo()">Regresar al Catálogo</button>
</div>
